/* Reset Styles */
body, h1, h2, h3, p, ul, li, a {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    color: inherit;
}

.centered {
    text-align: center;
}

.pic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%; /* Ensure the image fits within its container */
    height: auto; /* Maintain the aspect ratio */
}

/* Body and General Styling */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: rgb(255, 255, 255);
    background-color: #000000;
}

.about {
    color: #fff;
    text-align: center;
    padding: 1rem;
}

.icon {
    margin: auto;
    font-size: xx-large;
    color: #fff;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
    text-align: center;
}

.container {
    flex: 1;
    width: 80%;
    margin: 0 auto;
    max-width: 1200px;
}

/* Header Section */
header {
    background: linear-gradient(to bottom, #160163, #000000);
    color: #fff;
    padding: 1rem 0;
}

header h1 {
    text-align: center;
}

nav ul {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #007BFF;
}

nav ul li a.current-page {
    border: 2px solid #007BFF;
    padding: 5px 10px;
    border-radius: 5px;
}

/* Section Styling */
section {
    padding: 2rem 0;
}

h2 {
    text-align: center;
    margin-bottom: 1rem;
}

/* Projects Section */
.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

#projects .project {
    background: rgb(22, 1, 99);
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 1rem;
    text-align: center;
}

#projects .project:hover {
    transform: scale(1.05);
    box-shadow: 0.4rem 0.4rem 0.5rem #010d5c;
    transition: transform 0.2s ease, box-shadow 0.3s ease;
}

#projects .project a {
    color: #007BFF;
    text-decoration: underline;
}

/* Contact Section */
#contact a {
    color: #007BFF;
    text-decoration: underline;
}

/* Footer Section */
footer {
    text-align: center;
    padding: 1rem 0;
    background: linear-gradient(to bottom, #000000, #160163);
    color: #fff;
    width: 100%;
}
